# Port for App
PORT_APP=

# Config de MySQL
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

# Rate Limiting
# SHORT
RATE_LIMIT_SHORT_TTL=
RATE_LIMIT_SHORT_LIMIT=
# MEDIUM
RATE_LIMIT_MEDIUM_TTL=
RATE_LIMIT_MEDIUM_LIMIT=
# LONG
RATE_LIMIT_LONG_TTL=
RATE_LIMIT_LONG_LIMIT=

# SECRET JWT
JWT_SECRET=
JWT_REFRESH_SECRET=

# SENGRID
SENDGRID_API_KEY=
INFO_EMAIL_BOTCA=

# AWS
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BUCKET_AWS=

# UNSPLASH
KEY_SECRET_UNSPLASH=
KEY_PUBLIC_UNSPLASH=